.fondo{
<<<<<<< Updated upstream
    background-image: url("resources/images/fondo.jpg");
    height: 50vh;
=======
    background-image: URL('images/fondo.jpg');
    height: 500vh;
>>>>>>> Stashed changes
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

